<header class="header">
    <div class="wrapper">
        <h1><a href="{{site.baseurl}}/index.html">{{site.author | downcase}}</a></h1>
        <aside class="links">
            <ul>
            {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{site.github_username}}"><img src="{{site.baseurl}}/assets/github_icon.png" alt="github"/></a>
                </li>
            {% endif %}
            {% if site.tumblr_username %}
                <li>
                    <a href="https://tumblr.com/{{site.tumblr_username}}"><img src="{{site.baseurl}}/assets/tumblr_icon.png" alt="tumblr"/></a>
                </li>
            {% endif %}
            {% if site.facebook_username %}
                <li>
                    <a href="https://facebook.com/{{site.facebook_username}}"><img src="{{site.baseurl}}/assets/facebook_icon.png" alt="facebook"/></a>
                </li>
            {% endif %}
            {% if site.pinterest_username %}
                <li>
                    <a href="https://pinterest.com/{{site.pinterest_username}}"><img src="{{site.baseurl}}/assets/pinterest_icon.png" alt="pinterest"/></a>
                </li>
            {% endif %}
            {% if site.youtube_username %}
                <li>
                    <a href="https://youtube.com/{{site.youtube_username}}"><img src="{{site.baseurl}}/assets/youtube_icon.png" alt="youtube"/></a>
                </li>
            {% endif %}
            {% if site.skype_username %}
                <li>
                    <a href="https://skype.com/{{site.skype_username}}"><img src="{{site.baseurl}}/assets/skype_icon.png" alt="skype"/></a>
                </li>
            {% endif %}
            {% if site.instagram_username %}
                <li>
                    <a href="https://instagram.com/{{site.instagram_username}}"><img src="{{site.baseurl}}/assets/instagram_icon.png" alt="instagram"/></a>
                </li>
            {% endif %}
            {% if site.twitter_username %}
                <li>
                   <a href="https://twitter.com/{{site.twitter_username}}"><img src="{{site.baseurl}}/assets/twitter_icon.png" alt="twitter"/></a>
                </li>
            {% endif %}
            </ul>
        </aside>
    </div>
</header>
