<header class="header">
    <div class="wrapper">
        <h1><a href="{{"/index.html" | prepend: site.baseurl | prepend: site.url }}">{{site.author | downcase}}</a></h1>
        <aside class="links">
            <ul>
            {% if site.linkedin_usernameURL %}
                <li>
                    <a href="https://linkedin.com/in/{{site.linkedin_usernameURL}}"><img src="{{ "/assets/icons/linkedin_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="linkedin"/></a>
                </li>
            {% endif %}
            {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{site.github_username}}"><img src="{{ "/assets/icons/github_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="github"/></a>
                </li>
            {% endif %}
            {% if site.upwork_userID %}
                <li>
                    <a href="https://www.upwork.com/o/profiles/users/{{site.upwork_userID}}"><img src="{{ "/assets/icons/upwork_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="upwork"/></a>
                </li>
            {% endif %}
            {% if site.youtube_channel %}
                <li>
                    <a href="https://youtube.com/channel/{{site.youtube_channel}}"><img src="{{ "/assets/icons/youtube_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="youtube"/></a>
                </li>
            {% endif %}
            {% if site.twitter_username %}
                <li>
                   <a href="https://twitter.com/{{site.twitter_username}}"><img src="{{ "/assets/icons/twitter_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="twitter"/></a>
                </li>
            {% endif %}
            {% if site.facebook_username %}
                <li>
                    <a href="https://facebook.com/{{site.facebook_username}}"><img src="{{ "/assets/icons/facebook_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="facebook"/></a>
                </li>
            {% endif %}
            {% if site.instagram_username %}
                <li>
                    <a href="https://instagram.com/{{site.instagram_username}}"><img src="{{ "/assets/icons/instagram_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="instagram"/></a>
                </li>
            {% endif %}
            {% if site.tumblr_username %}
                <li>
                    <a href="https://{{site.tumblr_username}}.tumblr.com/"><img src="{{ "/assets/icons/tumblr_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="tumblr"/></a>
                </li>
            {% endif %}
            {% if site.pinterest_username %}
                <li>
                    <a href="https://pinterest.com/{{site.pinterest_username}}"><img src="{{ "/assets/icons/pinterest_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="pinterest"/></a>
                </li>
            {% endif %}
            {% if site.skype_inviteURL %}
                <li>
                    <a href="https://join.skype.com/invite/{{site.skype_inviteURL}}"><img src="{{ "/assets/icons/skype_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="skype"/></a>
                </li>
            {% endif %}
            {% if site.email %}
                <li>
                    <a href="mailto:{{site.email}}"><img src="{{ "/assets/icons/email_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="email" title="{{site.email}}" /></a>
                </li>
            {% endif %}
            {% if site.rss %}
                <li>
                    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><img src="{{ "/assets/icons/rss_icon.png" | prepend: site.baseurl | prepend: site.url }}" alt="rss feed"/></a>
                </li>
            {% endif %}
            </ul>
        </aside>
    </div>
</header>
