nav {
    ul {
        a, li {
            text-align: center;
            font-family: $navigation;
        }

        a:focus, a:hover, a:active {
            border-bottom-style: solid;
        }
    }
}

.globalnav {
    margin: $base-spacing 0;
    height: 3em;

    ul {
        float: right;

        a {
            text-align: center;
            margin-left: $base-spacing;
            font-size: $big-font-size;
        }

        a.active {
            border-bottom-style: solid;
        }
    }
}
