.projects-content {
    section.many {
        width: $content-width;
        max-width: 75%;
        float: none;
        margin: $center;
        margin-top: $base-sizing;
        clear: both;
        overflow: auto;

        h2 {
            font-size: $base-font-size * 2.2;
            padding-left: $base-spacing / 2;
        }

        ul {

            margin-top: $base-spacing * 2;
            text-align: left;

            li {
                display: block;
                margin: $base-spacing;
                padding: $base-spacing / 2 0;
                border-bottom-style: ridge;
                border-width: $border-width;

                h3 {
                    margin-bottom: $base-spacing / 2;
                    font-size: $base-font-size * 1.4;
                }

                a {
                    display: block;
                    font-weight: bold;
                    text-align: left;
                    padding-top: $base-spacing;
                }

                a:hover, a:active, a:focus {
                    border-bottom-style: none;
                    text-decoration: underline;
                }

            }

            li:last-of-type {
                border-bottom-style: none;

            }

            img {
                float: right;
                max-width: 12em;
                height: auto;
                padding: $base-spacing;
            }
        }

    }

    section.three {
        @extend section.many;

        width: $content-width / 3;
        max-width: 30%;
        float: left;
        clear: none;

        ul {
            border-right-style: ridge;
            border-width: $border-width;

            a {
                text-align: right;
            }
        }

    }

    section.three:last-of-type {
        ul {
            border-right-style: none;
        }
    }

    section.two {
        @extend section.many;

        width: $content-width / 2;
        max-width: 45%;
        float: left;
        clear: none;

        ul {
            border-right-style: ridge;
            border-width: $border-width;

            a {
                text-align: right;
            }
        }

    }

    section.two:last-of-type {
        ul {
            border-right-style: none;
        }
    }

    section.one {
        @extend section.many;
    }

}



nav.three, nav.many, nav.two {
    width: $content-width;

    li {
        float: right;
        padding: $base-spacing;
    }
}

nav.three, nav.two, nav.one {
    display: none;
}
