section.many {
    width: $content-width / 2;
    float: none;
    margin: $center;
    margin-top: $base-sizing;

    @include tablet {
        max-width: 100%;
    }

    h2 {
        font-size: $base-font-size * 2.2;
        padding-left: $base-spacing / 2;
    }

    ul {

        margin-top: $base-spacing * 2;
        text-align: left;

        li {
            display: block;
            margin: $base-spacing;
            padding: $base-spacing / 2 0;
            border-bottom-style: ridge;
            border-width: $border-width;

            h3 {
                margin-bottom: $base-spacing / 2;
                font-size: $base-font-size * 1.4;
            }

            a {
                display: block;
                font-weight: bold;
                text-align: left;
                padding-top: $base-spacing;
            }

            a:hover, a:active, a:focus {
                border-bottom-style: none;
                text-decoration: underline;
            }

        }

        li:last-of-type {
            border-bottom-style: none;
        }

        img {
            float: right;
            max-width: 50%;
        }
    }

}

section.few {
    @extend .many;

    width: $content-width / 3;
    float: left;

    ul {
        border-right-style: ridge;
        border-width: $border-width;

        a {
            text-align: right;
        }
    }

    @include laptop {
        width: $content-width / 2;
        float: none;
        margin: $center;
        margin-top: $base-sizing;
        clear: both;

        ul {
            border-right-style: none;

            a {
                text-align: left;
            }

        }
    }

    @include tablet {
        max-width: 100%;
    }

}

section.few:last-of-type {
    border-right-style: none;

    @include laptop {
        border-bottom-style: none;
    }
}

nav.few, nav.many{
        li {
            float: right;
            padding: $base-spacing;
        }
}

@media screen and (min-width: $small-laptop-width) {
    nav.few {
        display: none;
    }
}
