@charset "UTF-8";

//fonts
@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('../assets/fonts/aqua/aqua-webfont.woff2') format('woff2'),
    url('../assets/fonts/aqua/aqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bikoregular';
    src: url('../assets/fonts/biko/biko_regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/biko/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chaseregular';
    src: url('../assets/fonts/chase/chase-webfont.woff2') format('woff2'),
    url('../assets/fonts/chase/chase-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplificasimplifica';
    src: url('../assets/fonts/simplifica_typeface-webfont.woff2') format('woff2'),
    url('../assets/fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//main stuff
html, body {
    height: 100%;
    font-size: $base-font-size;
    font-family: $base-font-family;
    text-align: justify;
    background-color: $grey-color-light;
    background-image: url(../assets/backgrounds/lovpapper.jpg);
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content-wrapper {
    max-width: $content-width;
    margin: $center;
    padding-bottom: $base-sizing;
    overflow: auto;
}

//headlines
h1 {
    font-size: $big-font-size * 2;
    font-family: bikoregular, serif;
}

h2 {
    font-family: $headlines;
    font-size: $big-font-size;
}

h3, h4, h5 {
    font-family: simplificasimplifica, serif;
    font-size: $base-font-size;
}


//links
ul {
    li {
        display: inline-block;
    }

    a {
        display: inline-block;
    }
}

a:focus, a:hover, a:active {
    font-weight: bold;
}
