.blog {
    overflow: auto;

    .localnav {
        width: 15%;
        float: right;
        margin-top: $base-sizing;

        @include laptop {
            width: 20%;
        }

        @include tablet {
            display: none;
            width: 0;
        }

        h3 {
            text-align: right;
            font-family: aqua_grotesqueregular, serif;
            margin-bottom: $base-spacing * 0.5;
        }

        li {
            padding: 0;
            display: block;
            text-align: right;

        }

        a {
            font-size: $small-font-size;
        }

        a:hover, a:active, a:focus {
            border-bottom-style: none;
        }

        @include small-laptop {
            width: 20%;

            li, a, h3 {
                text-align: left;
                padding-right: $base-spacing;
            }
        }
    }

    #posts {
        width: 75%;
        float: left;
        overflow: auto;
        margin-top: $base-sizing;

        @include tablet {
            width: 100%;
        }

        p.date {
            float: right;
            font-size: $small-font-size;
        }

        a {

            h3 {
                float: left;
                margin-bottom: $base-spacing;
                font-size: $base-font-size * 1.4;
            }
        }

        p {
            clear: both;
        }

        #post {
            padding-bottom: $base-spacing;
            margin: $base-spacing * 2.5;
            border-bottom-style: ridge;
            border-width: $border-width;

            .commentcount {
                padding-top: $base-spacing;
                display: block;
                text-align: right;
                font-size: $small-font-size;
            }

        }

        #post:last-of-type {
            border-bottom-style: none;
        }

        #post:first-of-type {
            margin-top: 0;
        }

        img {
            display: block;
            margin: $center;
            padding: $base-spacing 0;
        }
    }
}

.post {
    width: 70%;
    margin: $center;
    margin-top: $base-sizing;

    h2 {
        font-family: simplificasimplifica, serif;
    }
}

.post-content {
    margin-top: $base-spacing * 2;
    padding-bottom: $base-spacing * 2;
}
