nav {
    ul {
        a, li {
            display: inline-block;
            text-align: center;
        }
    }
}

.globalnav {
    margin: 1em 10%;
    height: 3em;

    ul {
        float: right;
    }

    a {
        text-align: center;
        margin-left: 1em;
        font-size: 2em;
        font-family: aqua_grotesqueregular, serif;
    }
}
