nav {
    ul {
        a, li {
            display: inline-block;
            text-align: center;
            font-family: $navigation;
        }
    }
}

.globalnav {
    margin: $base-spacing 0;
    height: 3em;

    ul {
        float: right;
    }

    a {
        text-align: center;
        margin-left: $base-spacing;
        font-size: $big-font-size;
    }

    a.active {
        border-bottom-style: solid;
    }
}

.localnav {
    float: right;

    li {
        padding: $base-spacing / 2;
    }
}
