---

---

// Our variables

//font related
$base-font-family: Calibri, Helvetica, Arial, sans-serif;
$navigation: aqua_grotesqueregular, serif;
$headlines: chaseregular, serif;
$base-font-size:   1em;
$big-font-size:  $base-font-size * 2;
$small-font-size: $base-font-size * 0.8;

//space related
$center: 0 auto;
$base-spacing: 1em;
$base-sizing: 5em;
$border-width: 0.3em;

//background related
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;
$tablet-width:          600px;
$small-laptop-width:        1000px;
$phone-width: 400px;

//import bases
@import '_mediaqueries';
@import '_reset';
@import '_base';
@import '_headandfoot';
@import '_menu';

//home styles
    #about {
        width: 30%;
        float: left;

        @include small-laptop {
            width: 80%;
            float: none;
            margin: $center;
            margin-top: $base-spacing * 2;
        }
    }

    #projects {
        float: right;
        width: 60%;
        margin-top: $base-sizing * 2;
        text-align: right;

        @include small-laptop {
            float: none;
            clear: both;
            width: 100%;
            margin: $center;
            margin-top: $base-spacing * 2;
            overflow: auto;
        }

        h2 {
            font-family: $headlines;
            font-size: $big-font-size;
            margin-bottom: 0.3em;
        }

        div {
            border-right-style: ridge;
            border-width: $border-width;
            width: 33%;
            float: left;
            padding: $base-spacing / 2;
            padding-bottom: 0;
        }

            @include tablet {
                div {
                    float: none;
                    margin: $center;
                    padding: $base-spacing;
                    width: 50%;
                    border-style: none;
                    border-bottom-style: ridge;
                    text-align: center;
                }

                div:last-of-type {
                    border-bottom-style: none;
                }
            }
    }

@import '_projects';
@import '_blog';

