---

---

// Our variables

//font related
$base-font-family: Calibri, Helvetica, Arial, sans-serif;
$navigation: aqua_grotesqueregular, serif;
$headlines: chaseregular, serif;
$base-font-size:   1em;
$big-font-size:  $base-font-size * 2;

//space related
$center: 0 auto;
$base-spacing: 1em;
$base-sizing: 5em;

//background related
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;
$on-palm:          600px;
$on-laptop:        800px;

//import bases
@import '_reset';
@import '_base';


//header styles
header {
    overflow: auto;
    background-color: white;

    .wrapper {
        margin: $center;
        padding: 0.5em 0;
        max-width: $content-width;

    }

    h1 {
        float: left;
    }

    a:active, a:hover {
        border-style: none;
    }

    aside {
        float: right;

        li {
            display: inline-block;
            margin: 1.5em 0.2em 0;
        }

        img {
            height: $big-font-size;
            width: auto;
        }

    }
}

//home styles
    #about {
        width: 30%;
        float: left;
    }

    #projects {
        float: right;
        width: 60%;
        margin-top: 10em;
        text-align: right;

        h2 {
            font-family: $headlines;
            font-size: $big-font-size;
            margin-bottom: 0.3em;
        }

        div {
            border-right-style: ridge;
            border-width: 0.3em;
            width: 33%;
            float: left;
            padding: 0.5em;
            padding-bottom: 0;

        }
    }

//footer styles
footer {
    background-color: white;
    width: 100%;
    overflow: auto;
    height: $base-sizing;
    position:absolute;
    bottom:0;
    left:0;

    a {
        float: right;

        img {
            height: $base-sizing - 0.3em;
            width: auto;
        }
    }
}

@import '_menu';
@import '_projects';
@import '_blog';

