---
layout: default
---

{{content}}

<div class="blog">
    <nav class="localnav">
        <ul>
            <h3>posts</h3>
            {% for post in site.posts %}
            <li>
                <a href="#{{post.title | slugify}}">{{ post.title | downcase}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="posts">
        {% for post in site.posts %}
        <div id="post">
            <p class="date">{{ post.date | date_to_string }}</p>
            <a href="{{post.url}}">
                <h3 id="{{post.title | slugify}}">{{ post.title }}</h3>
            </a>
            {{ post.content }}
            {% if site.disqus_shortname %}<a class="commentcount" href="{{ post.url }}#disqus_thread" data-disqus-url="{{post.url}}"></a>{% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% if site.disqus_shortname %}
<script type="text/javascript">
    var disqus_shortname = '{{site.disqus_shortname}}';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());
</script>
{% endif %}

