---
layout: default
---

{% for collection in site.collections | where: "collection.label","projects" %}

{% if collection.categories.size == 1 %}
{% assign projects = "one" %}
{% elsif collection.categories.size == 2 %}
{% assign projects = "two" %}
{% elsif collection.categories.size == 3 %}
{% assign projects = "three" %}
{% else %}
{% assign projects = "many" %}
{% endif %}

<nav class="{{projects}}">
    <ul>
        {% for category in collection.categories %}
        <li>
            <a href="#{{category}}">{{category}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{{content}}

<div class="projects-content">
    {% for category in collection.categories %}
    <section class="{{projects}}">
        <h2 id="{{category}}">{{category}}</h2>
        <ul>
            {% for project in site.projects %}
            {% if project.category contains category %}
            <li>
                <h3>{{ project.title | escape }}</h3>
                {{project.content}}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
    {% endfor %}
</div>
